<section class="full-page-section" style="background-image: url('/img/bg/bg-mountains.jpg');">
    <div class="wrapper">
        <div>
            <section class="box-section">
                <div class="box-section__wrapper">
                    <form id="form-login" class="form" action="/" method="post">
                        <header class="form__header">
                            <h2 class="logo-pwr form__logo">
                                Politechnika Wrocławska
                            </h2>
                        </header>

                        <div class="form__field-container">
                            <label class="extended-form-field">
                                <header class="extended-form-field__header">
                                    <h3 class="extended-form-field__title">Login</h3>
                                </header>

                                <div class="extended-form-field__wrapper">
                                    <input class="extended-form-field__core" name="username" type="text" />
                                </div>
                            </label>
                        </div>

                        <div class="form__field-container">
                            <label class="extended-form-field">
                                <header class="extended-form-field__header">
                                    <h3 class="extended-form-field__title">Hasło</h3>
                                </header>

                                <div class="extended-form-field__wrapper">
                                    <input class="extended-form-field__core" name="password" type="password" />
                                </div>
                            </label>
                        </div>

                        <div class="form__button-container">
                            <div class="button-wrapper">
                                <button class="button button--wide" type="submit">
                                    <div class="button__wrapper">
                                        <div class="button__inner">
                                            Zaloguj
                                        </div>
                                    </div>
                                </button>

                                <div class="button-wrapper__spinner form__spinner">
                                    <div class="wrapper">
                                        <div>
                                            <div class="spinner">
                                                <i class="fa fa-circle-notch fa-spin" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form__info-container">
                            <div class="form__info-wrapper">
                                <div class="form__info"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>