<section class="site-header__bar">
    <section class="site-bar">
        <div class="site-bar__wrapper">
            <div class="site-bar__inner">
                <div class="site-bar__container">
                    <div class="site-bar__logo-container">
                        <a class="logo-pwr" href="/">Politechnika Wrocławska</a>
                    </div>

                    <div class="site-bar__side-container cmpt-student">
                        <ul class="horizontal-items">
                            <li>
                                <span class="horizontal-items__distinguished cmpt-student__name"></span> (<span class="cmpt-student__indexNumber"></span>)
                            </li>

                            <li>
                                <span class="horizontal-items__link logout-link">Wyloguj</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>