<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="/css/main.css?id=123" type="text/css" />

        <title>Zapisy PWr</title>

        <script src="/js/dist/jquery-3.1.0.min.js"></script>
        <script src="/js/dist/jquery.scrollTo.js"></script>
        <script src="/js/dist/velocity.js"></script>
    </head>

    <body>
        <section class="site-wrapper">
            <header id="site-header" class="site-header">

            </header>

            <main id="site-content" class="site-content">

            </main>
        </section>

        <script src="/js/dist/jHawk.js"></script>
        <script src="/js/dist/main.js"></script>
    </body>
</html>